$background-color: #F9A03F;
$secondary-color: white;

@mixin align-items-center {
  display: flex;
  align-items: center;
}

#profile {
  height: 400px; /* includes the hidden portion */
  width: 100%;
  margin-top: 120px; /* pushes content down to reveal 400px of the header */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background-color;
  font-family: 'Source Sans Pro', sans-serif;
  @include align-items-center;

  img#profile-picture {
    height: auto;
    max-width: 250px;
    background-color: $background-color;
    background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
    overflow: hidden;
  
  }

  h2 {
    color: $secondary-color;
    font-size: 30px;
    margin-top: -30px;
  }
}