$primary-color: #4056A1;
$secondary-color: white;
$primary-font: sans-serif;
$tweeter-font: 'Bungee';

nav {
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  padding: 1.5em;
  color: #FFFFFF;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  span {
    font-family: $tweeter-font, $primary-font;
    font-size: 48px;
  }

  .new-tweet-header {
    text-align: center;
  }
  .new-tweet-header:hover {
    cursor: pointer;
  }

  #compose {
    font-family: $primary-font;
    font-size: 20px;
    color: $secondary-color;
    background-color: $primary-color;
    margin: 0px;
  }

  .floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
  }
  
  @keyframes floating {
    0% { transform: translate(0, 0px); }
    50% { transform: translate(0, 15px); }
    100% { transform: translate(0, -0px); }
  }

}