#profile {
  height: 400px; /* includes the hidden portion */
  width: 100%;
  margin-top: 120px; /* pushes content down to reveal 400px of the header */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F9A03F;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
}
#profile #profile-picture {
  background-color: #F9A03F;
  background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
}
#profile h2 {
  color: white;
  font-size: 30px;
  margin-top: -30px;
}
