@media only screen and (max-width: 1023px) {
  nav {
    background-color: #F9A03F;
    background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
  }
  nav #compose {
    background-color: #F9A03F;
    background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
  }
}
@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  main {
    width: 50%;
    float: right;
    margin-top: 150px;
    margin-right: 25px;
  }
  #profile {
    margin-top: 200px;
    float: left;
    width: 30%;
    margin-left: 25px;
  }
}
