nav {
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #FFFFFF;
  background-color: #4056A1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 48px;
}

.new-tweet {
  text-align: center;
}