.new-tweet {
  margin-top: 50px;
};

textarea {
  width: 100%;
  background: transparent;
  color: #000000;
  font-weight:bold;
  outline: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 4px solid black;
  margin-bottom: 10px;
};

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
};


button {
  background-color: #4056A1;
  font-size: 22px;
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
};

.counter {
  font-weight: bold;
  font-family: 'Bungee', sans-serif;
};

.counter.invalid  {
  color: red;
};